@charset "UFT-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #8A99A6, #D9D9D9, #F2F2F2 );

}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #556273 ;
    width: 600px;
    padding: 10px;
    margin:auto
}

h1 {
    color: #556273;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.541);
}

h2{
    color: #69788C;
}

p {
    text-align: justify;
}